body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 0 auto; /* This centers the container horizontally */
    padding: 20px; /* Add padding for content spacing */
    background-color: #e0f7fa; /* White background for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    margin-top: 50px; /* DELETE THIS */
}

h2 {
    color: #333;
}

input[type="file"],
button {
    margin-bottom: 10px;
}

canvas {
    margin-bottom: 20px;
}

.statistics {
    margin-top: 20px;
}

.statistics div {
    margin-bottom: 10px;
}

h3 {
    font-weight: bold;
}

