body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    height: 800px;
    margin: 0 auto; 
    padding: 20px; 
    background-color: #e0f7fa; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.button-group {
    display: flex;
    justify-content: space-between;
}
.button-group button {
    margin: 0 5px;
}
button:hover {
    background-color: #0056b3;
}
/* Style the navigation bar */
.navbar {
    overflow: hidden;
    background-color: #181651;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons button {
    padding: 15px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #181651;
    color: white;
}