body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

.logo-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.logo-container img {
    width: 100px;
}

.container {
    width: 300px;
    padding: 20px;
    margin: 50px auto;
    background-color: rgba(2, 0, 47, 0.341);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    color: rgb(50, 224, 224);
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: white;
    margin-bottom: 5px;
    display: block;
}

input[type="username"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #28a745; /* Green */
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button.btn-info {
    background-color: #17a2b8; /* Blue */
}

button:hover {
    opacity: 0.9;
}
