/* styles.css */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

button {
    padding: 5px 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 1px;
}

button:hover {
    background-color: #45a049;
}

select {
    padding: 10px;
    font-size: 16px;
}
